<div class="section-title">
  <h2><%= t ".login" %></h2>
</div>
<div class="container">
  <%= form_for :user do |f| %>
    <div class="form-group">
      <%= f.label :email, t(".email") %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, t(".password") %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group d-flex flex-column"><%= f.submit t(".login"), class: "btn btn-primary" %></div>
  <% end %>
  <p><%= t ".new_user?" %> <%= link_to t(".register_now!"), "#" %></p>
</div>
