<% provide :title, t("admin.layouts.sidebar.orders") %>
<h1><%= t "admin.layouts.sidebar.orders" %></h1>
<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card">
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light text-center">
            <tr>
              <% Order.attribute_names.each do |name| %>
                <th>
                  <%= render_order_header name %>
                </th>
              <% end %>
              <th><%= t(".actions") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @orders %>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-center">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>
