<% provide :title, t("order.page_title") %>

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <h4><%= t "order.bill_title" %></h4>
      <%= form_for :order, url: orders_path, method: :post do |form| %>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="checkout__order">
            <h4><%= t "order.order_title" %></h4>
            <div class="checkout__order__products"><%= t "order.product" %> <span><%= t "order.total" %></span></div>
            <ul>
              <% if cart_contents.present? %>
                <% order_list = [] %>
                <% cart_contents.each do |item| %>
                  <li><%= item[1][:name] %> (<%= item[0][1] %>) <span><%= translate_price item[0][1] * item[1][:price] %></span></li>

                  <% order_list << build_order_item(item) %>
                <% end %>
                <%= form.hidden_field :order_items_attributes, value: order_list.to_json %>
              <% end %>
            </ul>
            <div class="checkout__order__subtotal"><%= t "order.subtotal" %> <span><%= translate_price subtotal %></span></div>
            <%= form.submit t("order.place_order"), class: "form-order" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Checkout Section End -->
