<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <%= link_to admin_root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
    <div class="sidebar-brand-icon">
      <img src="/img/logo/logo2.png">
    </div>
    <div class="sidebar-brand-text mx-3">RuangAdmin</div>
  <% end %>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <%= link_to admin_root_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span><%= t ".dashboard" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    <%= t ".pages" %>
  </div>
  <li class="nav-item">
    <%= link_to admin_orders_path, class: "nav-link" do %>
      <i class="fab fa-fw fa-wpforms"></i>
      <span><%= t ".orders" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <%= link_to admin_logout_path, class: "nav-link" do %>
      <i class="fas fa-sign-out-alt"></i>
      <span><%= t ".logout" %></span>
    <% end %>
  </li>
  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin"></div>
</ul>
