<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span><%= t "labels.category.cat" %></span>
          </div>
          <ul>
            <% parent_categories.each do |category| %>
              <li class="toggle-down-wrapper">
                <div>
                  <h4 class="d-inline-block"><%= link_to category.title, "#" %></h4>
                  <% if category.children.any? %>
                    <span class="fas fa-angle-down toggle-down-main clickable"></span>
                  <% end %>
                </div>
                <% if category.children.any? %>
                  <ul class="toggle-down-content border-success">
                    <% category.children.each do |subcategory| %>
                      <li>
                        <h5><%= link_to subcategory.title, "#" %></h5>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                <%= t "labels.category.all" %>
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="<%= t ".what_do_you_need?" %>" />
              <button type="submit" class="site-btn"><%= t ".search_btn_txt" %></button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5><%= t ".phone", phone_number: "0765 432 198" %></h5>
              <span><%= t ".support" %></span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/img/hero/banner.jpg">
          <!-- <div class="hero__text">
            <span>FRUIT FRESH</span>
            <h2>Vegetable <br />
              100% Organic</h2>
            <p>Free Pickup and Delivery Available</p>
            <a href="#" class="primary-btn">SHOP NOW</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
